import React, { Component } from "react";
import { FlatList } from "react-native";
import {
  Container,
  Content,
  List,
  ListItem,
  Text,
  Icon,
  Right,
  Left,
  Header,
  Button,
  Body,
  Title
} from "native-base";{{#notNull module._roles}}
import SecurityService from "../security/SecurityService";{{/notNull}}

// Redux
import PropTypes from "prop-types";
import { bindActionCreators } from "redux";
import { connect } from "react-redux";

// Custom Actions


// START IMPORT ACTIONS
// END IMPORT ACTIONS

/** APIs
**/

class {{capitalize module.name}} extends Component {
  constructor(props) {
    super(props);
    this.state = {
      list: props.list{{#notNull module._roles}},
      authorized: false{{/notNull}}
    };
  }

  // Load data on start
  componentWillMount() {
    this.props.navigation.addListener("willFocus", async () => { {{#notNull module._roles}}
      // Check security
      if (await SecurityService.isAuth([ {{#each _roles}}'{{name}}',{{/each}} ])) {
        this.setState({ authorized: true });
      } else {
        this.props.navigation.navigate("Login", {
          showError: "Not authorized"
        });
        return;
      }

      {{/notNull}}

      // Load list
      this.props.actions{{capitalize crudResource.name}}.load{{capitalize crudResource.name}}List();
    });
  }

  // Receive props
  componentWillReceiveProps(props) {
    this.setState({
      ...this.state,
      list: props.list
    });
  }

  deleteRow(secId, rowId, rowMap, data) {
    let that = this;
    this.props.actions{{capitalize crudResource.name}}.delete{{capitalize crudResource.name}}(data._id).then(() => {
      rowMap[`${secId}${rowId}`].props.closeRow();
      const newData = that.state.list;
      newData.splice(rowId, 1);
      that.setState({
        list: newData
      });
    });
  }

  render() { {{#notNull module._roles}}

    // Check security
    if (!this.state.authorized) {
      return null;
    }
    {{/notNull}}

    return (
      <Container>
        <Header>
          <Left>
            <Button transparent onPress={() => this.props.navigation.goBack()}>
              <Icon name="arrow-back" />
            </Button>
          </Left>
          <Body>
            <Title>List {{capitalize crudResource.name}}</Title>
          </Body>
          <Right>
            <Button
              transparent
              name="menu"
              onPress={() => this.props.navigation.navigate("{{capitalize crudResource.name}}Edit")}
            >
              <Text>Add</Text>
            </Button>
          </Right>
        </Header>
        <Content>
          <FlatList
            data={this.state.list}
            renderItem={({ item }) => (
              <ListItem
                noIndent
                onPress={() =>
                  this.props.navigation.navigate("{{capitalize crudResource.name}}Edit", {
                    id: item._id
                  })
                }
              >
                <Left>
                  <Text>{item._id}</Text>
                </Left>
                <Right>
                  <Icon name="arrow-forward" />
                </Right>
              </ListItem>
            )}
            renderRightHiddenRow={(data, secId, rowId, rowMap) => (
              <Button
                full
                danger
                onPress={_ => this.deleteRow(secId, rowId, rowMap, data)}
              >
                <Icon active name="trash" />
              </Button>
            )}
          />
          {this.state.list && this.state.list.length == 0 && (
            <List>
              <ListItem>
                <Text>No elements found</Text>
              </ListItem>
            </List>
          )}
        </Content>
      </Container>
    );
  }
}

// Store actions
const mapDispatchToProps = function(dispatch) {
  return { {{#eachResource module._services}}{{#notEqual name 'User'}}
    actions{{capitalize name}}: bindActionCreators({{capitalize name}}Actions, dispatch),{{/notEqual}}{{/eachResource}}
  };
};

// Validate types
{{capitalize crudResource.name}}List.propTypes = { {{#eachResource module._services}}{{#notEqual name 'User'}}
  actions{{capitalize name}}: PropTypes.object.isRequired,{{/notEqual}}{{/eachResource}}
};

// Get props from state
function mapStateToProps(state, ownProps) {
  return {
    list: state.{{capitalize crudResource.name}}ListReducer.list{{capitalize crudResource.name}}
  };
}

export default connect(
  mapStateToProps,
  mapDispatchToProps
)({{capitalize crudResource.name}}List);
